body{
  margin: 0;
  padding: 0;
  background:  #809fff
}
header{
  text-align: center;
  background: url(bcheat.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  position: relative;
  border: 2px dashed red;
}
header img{
  width: 400px;
  position: absolute;
  top: 15%;
  transform: translateX(-50%);
}
nav{
  text-align: center;
  background-color: gray;
  margin: 0;
  font-size: 20px;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 16px;
}
a:hover{
  background:hsl(360, 100%, 90%,0.2);
  border-radius: 20px;
}
.home{
  background:hsl(360, 100%, 90%,0.2);
  border-radius: 20px;

}
.mid .subject img{
  width: 150px;
  height: 150px;
    transition: all 0.5s;
    border-radius: 50%;
}
.subject{
  text-align: center;
  border: 3px solid red;
  width:300px;
  margin: 10px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  background: powderblue;
  box-shadow: 0 0 10px blue;
}
.mid{
display:flex;
flex-direction: row;
}
.log{
  box-shadow: 0 0 20px red;
  border: 1px solid red;
width: 300px;
height: 400px;
text-align: center;
border-radius: 20px;
}
.mid .subject .E:hover{
  transform: scale(1.3);
  box-shadow: 0 0 10px red;
}
.mid .subject .K:hover{
transform: scale(1.3);
  box-shadow: 0 0 10px red;
}
.mid .subject .M:hover{
  transform: scale(1.3);
  box-shadow: 0 0 10px red;
}
