body{
  margin: 0;
  padding: 0;
  background:  #809fff
}
header{
  text-align: center;
  background: url(bcheat.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  position: relative;
    border: 2px dashed red;
}
header img{
  width: 400px;
  position: absolute;
  top: 15%;
  transform: translateX(-50%);
}
nav{
  text-align: center;
  background-color: gray;
  margin: 0;
  font-size: 20px;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 16px;
}
a:hover{
  background:hsl(360, 100%, 90%,0.2);
  border-radius: 20px;
}
.mid .subject img{
  width: 300px;
  height: 200px;
}
.subject{
  text-align: center;
  border: 3px solid red;
  width:300px;
  margin: 10px;
}
.mid{
display:flex;
flex-direction: row;
}
.log{
  box-shadow: 0 0 20px red;
  border: 1px solid red;
width: 300px;
height: 400px;
text-align: center;
border-radius: 20px;
}
input[type="text"],input[type="password"]{
  display: block;
  margin: 20px auto;
  text-align: center;
  border: none;
  outline: none;
  width: 180px;
  height: 25px;
  box-shadow: 0 0 10px red;
  border-radius: 20px;
  transition: 0.5s;
}
input[type="submit"]{
  display: block;
  margin: 20px auto;
  text-align: center;
  border: none;
  outline: none;
  width: 80px;
  height: 25px;
  border-radius: 20px;
  cursor: pointer;
}
input[type="submit"]:hover{
  background: hsla(360, 80%, 90%, 0.5);
}
input[type="text"]:focus,input[type="password"]:focus{
  width: 230px;

}
.log h1{
  margin:30px auto;
  font-family: fantasy;
  color: blue;
  font-size: 30px;
}
.logmid{
  position: absolute;
  left: 50%;

  transform: translateX(-50%);
}
.logact{
  background:hsl(360, 100%, 90%,0.2);
  border-radius: 20px;
}
