body{
  margin: 0;
  padding: 0;
  background:  #809fff
}
header{
  text-align: center;
  background: url(bcheat.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  position: relative;
    border: 2px dashed red;
}
header img{
  width: 400px;
  position: absolute;
  top: 15%;
  transform: translateX(-50%);
}
nav{
  text-align: center;
  background-color: gray;
  margin: 0;
  font-size: 20px;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 16px;
}
a:hover{
  background:hsl(360, 100%, 90%,0.2);
  border-radius: 20px;
}
.mid .subject img{
  width: 300px;
  height: 200px;
}
.subject{
  text-align: center;
  border: 3px solid red;
  width:300px;
  margin: 10px;
}
.mid{
display:flex;
flex-direction: row;
}
.log{
  box-shadow: 0 0 20px red;
  border: 1px solid red;
width: 300px;
height: 400px;
text-align: center;
border-radius: 20px;
}
.sp{
  background:hsl(360, 100%, 90%,0.2);
  border-radius: 20px;

}
.top{
  display: flex;
  flex-direction: row;
}
.cv{
  width: 300px;
  border: 3px solid red;
  overflow: hidden;
  background-color: #fc03d7;
  border-radius: 10px;
  text-align: center;
  margin: 20px;
}
.cv img{
  width: 300px;
    transition: 0.5s;
}
.cv img:hover{
    transform: rotate(10deg);
}
